<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <style>
        body {background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d843okx-eb13e8e4-0fa4-4fa9-968a-e0f36ff168de.png/v1/fill/w_800,h_480,q_80,strp/pokemon_x_and_y_battle_background_11_by_phoenixoflight92_d843okx-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00ODAiLCJwYXRoIjoiXC9mXC8yZmIyODIxYS0xNDA2LTRhMWQtOWIwNC02NjY4ZjI3OGU5NDRcL2Q4NDNva3gtZWIxM2U4ZTQtMGZhNC00ZmE5LTk2OGEtZTBmMzZmZjE2OGRlLnBuZyIsIndpZHRoIjoiPD04MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.9xZ3RrGc6_lZXQSqfSA4a67wLV7m6UrMXWBLltH9-AI");}
        body {text-align: center; }
    </style>
</head>
<body>
    <h1>Pokemon Description</h1>

    This is <%= pokemon.name %>! <br><br>
    <%= pokemon.name %> is a <%= pokemon.type %> type! <br><br><br><br><br><br><br><br>
    
    <form action="/pokemon/<%= pokemon.id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= pokemon.name %>" /><br><br>
        <label for="types">Type:</label>
        <select name="type" id="types" value="<%= pokemon.type %>">
            <option value="<%= pokemon.type %>">Current: <%= pokemon.type %></option>
            <option value="Bug">Bug</option>
            <option value="Dark">Dark</option>
            <option value="Dragon">Dragon</option>
            <option value="Electric">Electric</option>
            <option value="Fairy">Fairy</option>
            <option value="Fighting">Fighting</option>
            <option value="Fire">Fire</option>
            <option value="Flying">Flying</option>
            <option value="Ghost">Ghost</option>
            <option value="Grass">Grass</option>
            <option value="Ground">Ground</option>
            <option value="Ice">Ice</option>
            <option value="Normal">Normal</option>
            <option value="Poison">Poison</option>
            <option value="Psychic">Psychic</option>
            <option value="Rock">Rock</option>
            <option value="Steel">Steel</option>
            <option value="Water">Water</option>
        </select><br><br>
        <input type="submit" value="Change Pokemon">
    </form><br><br><br><br><br><br><br><br>

    <form action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
    </form><br>
    <br><br>
    <a href="/pokemon">Back to homepage</a>
</body>
</html>